@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$filterButtonColor : #0000a3;
$headerBackground  : #0f0f0f;
$lineGray          :  #f4f4f4;

@mixin filterParagraph(){
  font-size: 1em;
  color: white;
}

@mixin filterNotificator(){
   background-color: white;
   border-radius: 16px;
   width: 39px;
   color: #000;
   text-align: center;
}

@mixin filterButton($position : "relative",$top, $width, $height, $background-color,  $border-radius, $margin){
  position: $position;
  top: $top;
  width: $width;
  height: $height;
  background-color: $background-color;
  border-radius: $border-radius;   
  margin: $margin;  

  border: none;  
  display: inline-flex;
  justify-content: center;
  padding: 8px;
  text-transform: uppercase;

  p{
    @include filterParagraph;
  }

  svg{
    fill: #fff;
  }

  .filter-notificator{    
    @include filterNotificator;
  }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  @extend .flexCenterall;
  font-family: 'Poppins', sans-serif;
  flex-direction: column;   
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

header {
    display: flex;
    background-color: $headerBackground ;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
    width: 100%;
}
.flexCenterall{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  @extend .flexCenterall;
}
.shoppingCart{
  @extend .flexCenterall;

  .search-container {
    position: relative;
    display: inline-block;
    margin: 1px 1px;
    height: 48px;
    width: 48px;
    vertical-align: bottom;
  }

  .notification-badge{  
    @extend .flexCenterall;
    position: absolute;
    background-color: $filterButtonColor;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 11px;
    color: #fff;
    top: 21px;
    right: 444px;
  }
  .searchbar svg{
    display: inline;
    fill: #fff;
  }
}


.shoppingCart svg,
.logo svg {
  display: inline;
  fill: #fff;
}
.headerlogo {
    color: #eeee;
    font-weight: 600;
}

.disabled{
  color: $lineGray !important;
}
.restFilterButton{  
  margin: 0 30px; 
  border: none;  
  display: inline-flex;
  justify-content: center;
  padding: 8px;
  text-transform: uppercase;
}
.filter-bottom-extend{
  @include filterButton(relative,0,30%, 40px, $filterButtonColor, none, 5px);
  @extend .restFilterButton;
}
.filter-bottom{
  @include filterButton(fixed,90vh,30%, 40px, $filterButtonColor, 5px, 8px);
  @extend .restFilterButton;
}

.overlay {
  position: absolute;
  top: -300px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);  
  visibility: hidden;
  opacity: 0;
 
  transition: 0.3s ease-out;
  z-index: 3;

  &:target{
    visibility: visible;
    opacity: 1;
    top:0px;    
    position: fixed;
  }

}

.popup-menu {
    margin: 70vh auto;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    height: 40vh;
    position: relative;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -mos-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;

 
    h2 {
      margin: 15px;
      color: #333; 
      font-weight: 700;
    }

    .close {
      position: absolute;
      top: -21px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
      background: #fff;
      border: 1px solid gray;
      width: 40px;
      text-align: center;  
      border-radius: 3px;
    }

    .content {
      max-height: 80%;
      overflow: auto;
    }

    .filters{

      
       .filter{  
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 9px;
          border-top: 1px solid rgb(196, 196, 196);
          
       }
    }

    .filter-buttons{
      display: flex;
      justify-content: space-between;
      background-color: #f4f4f4;
      width: 100%;     
        a{
          @include filterButton(relative,0, 100%, 45px, #fff, unset, 5px);
          border: 1px solid #ededed; 
          color: #000;

          &:nth-child(2) {
            @include filterButton(relative,0, 100%, 45px, $filterButtonColor, unset, 5px);
          }
        }

     }
}

.button {
	display: inline-block;
	margin: 4px 2px;
	background-color: #0f0f0f;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

  cursor: pointer;
  transition: all 0.3s;
  :hover {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    background-color: white;
    color: black;
  }

}

.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
	font-size: 22px;
	width: 100%;
  height: 99%;
	margin: 0;
	padding: 0;
}

.title-category {
  p{
    font-size: 2rem;
    padding: 3vw 0 2vw;
   }
}


.search {
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;

  &:focus {
    width: 363px; /* Bar width+1px */
    padding: 0 16px 0 0;
  }

  &:focus + .searchbutton {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    background-color: white;
    color: black;
  }

}

.expandright {
	left: auto;
	right: 40px; /* Button width-1px */
   &:focus {
    padding: 0 0 0 16px;
  }
}

.expandTop {
  top: 50px;
}

.products-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);


  .product-card{    
    @extend .flexCenterall;
    border: 1px solid $lineGray;
    margin: 5%;
    flex-direction: column;
    border-radius: 5px;
    text-align: left;  

    img {
      width: 110px;
      margin: 19%;
    }
    
    p{     
      font-size: 1em;
      margin: 5%;
      padding: 0 5%;
      text-align: left;     
      width: 100%;

      &:nth-child(2n){
        font-weight: 600;
        font-size: 1.5em;        
      }     
    }

    .agregar{
      @extend .flexCenterall;
      width: 100%;
      height: 57px;
      background-color: $lineGray;
      color: $filterButtonColor;
      font-weight: bold;
    }

  }
}

@media only screen and (min-width: 0px) and (max-width: 768px) {

  .shoppingCart{
   
    .notification-badge{  
      @extend .flexCenterall;
      position: absolute;   
      top: 9px;
      right: 20px;
    }
    
  }
  
  .products-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important; 
    .product-card{
      display: flex;
      flex-direction: column;  
      img {
        width: 180px;
      }
  
      p{
        font-size: 12px;
        padding: 0 10%;

        &:first-child{
          font-weight: bold;
        }
  
      }
  
    }
  }  
  header {
      height: 48px;
      justify-content: space-between;
      padding: 0 28px;
  }
  .logo {
    a{
      font-size: 0.9rem;
     }
    
     img {
        width: 30px;
    }
  }
 
  .header-toggle { 
      display: inline;
      color: #eeee;
      font-size: 24px;
      cursor: pointer;
  }
  .header-close {
      position: absolute;
      right: 24px;
      display: block;
      font-size: 24px;
      border-radius: 50px;
      cursor: pointer;

      &:hover{
        background-color:  #372948;
      }   
  }   
}
