@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

header {
    display: flex;
    background-color: #0f0f0f;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}
.shoppingCart{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.searchbar svg,
.shoppingCart svg,
.logo svg {
    display: inline;
    fill: #fff;
}
.headerlogo {
    color: #eeee;
    font-weight: 600;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 8px;
}

.nav-link {
    padding: 10px;
    color: #eeee;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #1363DF;
}

.header-toggle,
.header-close {
    display: none;
}

.filter-bottom{
  position: relative;
  top: 60vh;
  width: 30%;
  height: 40px;
  margin: 0 30px;
  border-radius: 8px;
  background-color: #0000a3;
  border: none;
  
  display: inline-flex;
  justify-content: center;
  padding: 8px;

  p{
    font-size: 1em;
    color: white;
  }

  svg{
    fill: #fff;
  }

  .filter-notificator{
    background-color: white;
    border-radius: 100px;
    width: 30px;
    color: #000;
    text-align: center;
  }
}

.overlay {
  position: absolute;
  top: -300px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);  
  visibility: hidden;
  opacity: 0;
 
  transition: 0.3s ease-out;
  z-index: 3;
  &:target{
    visibility: visible;
    opacity: 1;
    top:0px;
  }

}

.popup-menu {
    margin: 70vh auto;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    height: 40vh;
    position: relative;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -mos-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;

 
    h2 {
      margin: 15px;
      color: #333;
      font-family: Tahoma, Arial, sans-serif;
    }

    .close {
      position: absolute;
      top: -21px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
      background: #fff;
      border: 1px solid gray;
      width: 40px;
      text-align: center;  
    }
    .content {
      max-height: 80%;
      overflow: auto;
    }

    .filters{
      
       .filter{  
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 9px;
        border-top: 1px solid rgb(196, 196, 196);
       }
    }

    .filter-buttons{
      display: flex;
      justify-content: space-between;
      background-color: #f4f4f4;
      width: 100%;
      
        button{
          margin: 5px;
          width: 100%;
          border: none;
          background-color: #fff;
          border: 1px solid #ededed;
          &:nth-child(2) {
            background-color: #0000a3;
            color: white;
          }
        }

     }
}

@media screen and (max-width: 768px) {
    header {
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }
    .logo a{
        font-size: 0.9rem;
    }
    .logo img {
        width: 30px;
    }
    .header-toggle { 
        display: inline;
        color: #eeee;
        font-size: 24px;
        cursor: pointer;
    }
    .header-close {
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
    }
    .header-close:hover {
        background-color:  #372948;
    }
    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background: #47B5FF;
        
        color: #eeee;
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
        
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        font-weight: 600;
    }
    .nav-item {
        margin: 2rem 0;
    }
    .show {
        right: 0;
    }
}
  * {
    box-sizing: border-box;
  }
 
 

  //searchbar
.button {
	display: inline-block;
	margin: 4px 2px;
	background-color: #0f0f0f;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search-container {
	position: relative;
	display: inline-block;
	margin: 1px 1px;
	height: 48px;
	width: 48px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
	font-size: 22px;
	width: 100%;
  height: 99%;
	margin: 0;
	padding: 0;
}

.title-category {
  p{
    font-size: 2rem;
    padding: 4vw 0;
   }
}
.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search {
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 363px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 40px; /* Button width-1px */
}

.expandright:focus {
	padding: 0 0 0 16px;
}

.expandTop {
  top: 50px;
}