@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  flex-direction: column;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flexCenterall, .products .products-container .product-card .agregar, .products .products-container .product-card, header nav .shoppingCart .notification-badge, header nav .shoppingCart, header nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled {
  color: #f4f4f4 !important;
}

.restFilterButton, .filter-bottom, .filter-bottom-extend {
  margin: 0 30px;
  border: none;
  display: inline-flex;
  justify-content: center;
  padding: 8px;
  text-transform: uppercase;
}

.filter-bottom-extend {
  position: relative;
  top: 0;
  width: 30%;
  height: 40px;
  background-color: #0000a3;
  border-radius: none;
  margin: 5px;
  border: none;
  display: inline-flex;
  justify-content: center;
  padding: 8px;
  text-transform: uppercase;
}
.filter-bottom-extend p {
  font-size: 1em;
  color: white;
}
.filter-bottom-extend svg {
  fill: #fff;
}
.filter-bottom-extend .filter-notificator {
  background-color: white;
  border-radius: 16px;
  width: 39px;
  color: #000;
  text-align: center;
}

.filter-bottom {
  position: fixed;
  top: 90vh;
  width: 30%;
  height: 40px;
  background-color: #0000a3;
  border-radius: 5px;
  margin: 8px;
  border: none;
  display: inline-flex;
  justify-content: center;
  padding: 8px;
  text-transform: uppercase;
  left: 35%;
}
.filter-bottom p {
  font-size: 1em;
  color: white;
}
.filter-bottom svg {
  fill: #fff;
}
.filter-bottom .filter-notificator {
  background-color: white;
  border-radius: 16px;
  width: 39px;
  color: #000;
  text-align: center;
}

header {
  background-color: #0f0f0f;
  padding: 1rem 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  width: 100%;
}
header nav .logo svg {
  margin: 0 3px;
}
header nav .shoppingCart .search-container {
  position: relative;
  display: inline-block;
  margin: 1px 1px;
  height: 48px;
  width: 48px;
  vertical-align: bottom;
}
header nav .shoppingCart .notification-badge {
  position: absolute;
  background-color: #0000a3;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 11px;
  color: #fff;
  top: 7px;
  right: 10px;
}
header nav .shoppingCart .searchbar svg {
  display: inline;
  fill: #fff;
}
header nav .shoppingCart svg,
header nav .logo svg {
  display: inline;
  fill: #fff;
}
header nav .headerlogo {
  color: rgba(238, 238, 238, 0.9333333333);
  font-weight: 600;
}
header nav .mglass {
  display: inline-block;
  pointer-events: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
header nav .searchbutton {
  position: absolute;
  font-size: 22px;
  width: 100%;
  height: 99%;
  margin: 0;
  padding: 0;
}
header nav .button {
  display: inline-block;
  background-color: #0f0f0f;
  line-height: 50px;
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: all 0.3s;
}
header nav .button :hover {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  background-color: white;
  color: black;
}
header nav .search {
  position: absolute;
  left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
  background-color: white;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}
header nav .search:focus {
  width: 363px; /* Bar width+1px */
  padding: 0 16px 0 0;
}
header nav .search:focus + .searchbutton {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  background-color: white;
  color: black;
}
header nav .expandright {
  left: auto;
  right: 40px; /* Button width-1px */
}
header nav .expandright:focus {
  padding: 0 0 0 16px;
}

.popup-filter .overlay {
  position: absolute;
  top: -300px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-out;
  z-index: 3;
}
.popup-filter .overlay:target {
  visibility: visible;
  opacity: 1;
  top: 0px;
  position: fixed;
}
.popup-filter .popup-menu {
  margin: 70vh auto;
  background: #fff;
  border-radius: 5px;
  width: 100%;
  height: 40vh;
  position: relative;
  -mos-transition: all 1s;
  transition: all 1s;
}
.popup-filter .popup-menu h2 {
  margin: 15px;
  color: #333;
  font-weight: 700;
}
.popup-filter .popup-menu .close {
  position: absolute;
  top: -21px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  background: #fff;
  border: 1px solid gray;
  width: 40px;
  text-align: center;
  border-radius: 3px;
}
.popup-filter .popup-menu .content {
  max-height: 80%;
  overflow: auto;
}
.popup-filter .popup-menu .content .filters .filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 9px;
  border-top: 1px solid rgb(196, 196, 196);
  cursor: pointer;
}
.popup-filter .popup-menu .content .filter-buttons {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
  width: 100%;
}
.popup-filter .popup-menu .content .filter-buttons a {
  position: relative;
  top: 0;
  width: 100%;
  height: 45px;
  background-color: #fff;
  border-radius: unset;
  margin: 5px;
  border: none;
  display: inline-flex;
  justify-content: center;
  padding: 8px;
  text-transform: uppercase;
  border: 1px solid #ededed;
  color: #000;
  cursor: pointer;
}
.popup-filter .popup-menu .content .filter-buttons a p {
  font-size: 1em;
  color: white;
}
.popup-filter .popup-menu .content .filter-buttons a svg {
  fill: #fff;
}
.popup-filter .popup-menu .content .filter-buttons a .filter-notificator {
  background-color: white;
  border-radius: 16px;
  width: 39px;
  color: #000;
  text-align: center;
}
.popup-filter .popup-menu .content .filter-buttons a:nth-child(2) {
  position: relative;
  top: 0;
  width: 100%;
  height: 45px;
  background-color: #0000a3;
  border-radius: unset;
  margin: 5px;
  border: none;
  display: inline-flex;
  justify-content: center;
  padding: 8px;
  text-transform: uppercase;
}
.popup-filter .popup-menu .content .filter-buttons a:nth-child(2) p {
  font-size: 1em;
  color: white;
}
.popup-filter .popup-menu .content .filter-buttons a:nth-child(2) svg {
  fill: #fff;
}
.popup-filter .popup-menu .content .filter-buttons a:nth-child(2) .filter-notificator {
  background-color: white;
  border-radius: 16px;
  width: 39px;
  color: #000;
  text-align: center;
}
.popup-filter .popup-menu .content .expandTop {
  top: 50px;
}

.products .title-category p {
  font-size: 2rem;
  padding: 1vw 0 0.5vw;
  text-align: center;
}
.products .products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.products .products-container .product-card {
  border: 1px solid #f4f4f4;
  margin: 5%;
  flex-direction: column;
  border-radius: 5px;
  text-align: left;
}
.products .products-container .product-card img {
  width: 110px;
  margin: 19%;
}
.products .products-container .product-card p {
  font-size: 1em;
  margin: 5%;
  padding: 0 5%;
  text-align: left;
  width: 100%;
}
.products .products-container .product-card p:nth-child(2n) {
  font-weight: 600;
  font-size: 1.5em;
}
.products .products-container .product-card .agregar {
  width: 100%;
  height: 57px;
  background-color: #f4f4f4;
  color: #0000a3;
  font-weight: bold;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  header {
    justify-content: space-between;
    padding: 0 14px;
  }
  .popup-filter nav .shoppingCart .notification-badge {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 9px;
    right: 20px;
  }
  .products-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .products-container .product-card {
    display: flex;
    flex-direction: column;
  }
  .products-container .product-card img {
    width: 180px;
  }
  .products-container .product-card p {
    font-size: 12px;
    padding: 0 10%;
  }
  .products-container .product-card p:first-child {
    font-weight: bold;
  }
}/*# sourceMappingURL=style.css.map */